::selection {
    color: rgba(0, 186, 186, 1);
    background: rgba(0, 186, 186, 0.25)
}

body {
    overflow-x: hidden;
}

a {
    color: #00baba !important;
    text-decoration: none !important;
    box-shadow: none !important;
    font-weight: 500
}

a:hover {
    text-decoration: none !important;
    /*font-weight: 700;*/
    color: #212529 !important;
}

nav {
    background: rgba(0, 186, 186, 0.1);
    background: white;
    padding: 21px 0;
    max-width: 600px;
    margin: auto;
    border-bottom: 2px solid rgba(0, 186, 186, 0.3);

    /*border-bottom: 2px solid rgba(0,0,0,0.4);*/
}

nav ul {
    margin: 0;
}

nav ul li {
    list-style: none;
    color: #00baba;
    font-size: 1em;
    font-family: "Graphik", helvetica !important;
    font-weight: 100 !important;
    /*padding: 0px !important;*/
}

nav ul li a.active {
    color: #212529 !important;
}

nav ul li:hover {
    font-weight: 700;
    transition: 0.5s;
    display: inline;
}

.bio-links {
    margin-top: 5px
}

.bio-links a {
    padding-right: 9px
}

.postcard-cont {
    height: 400px;
}


.postcard {
    background-color: rgba(4, 53, 53, 0.56);
    /*background-color: rgba(8, 44, 45, 0.5);*/
    width: 100%;
    height: 100%;
}


.post-title__index {
    color: #fff;
    /*opacity: 0.83;*/
    margin: auto;
    padding: 176px 10px;
    padding-bottom: 0px;
    text-align: center;
    display: block;
    font-size: 2.3em;
}

.post-date__index {
    color: lightgray;
    opacity: 0.98;
    text-align: center;
    transition: 0.2s;
    font-size: 0.9em
}

.post-title__index:hover {
    /*color: rgba(0,186,186,0.73);*/
    color: white;
    opacity: 0.83;
    transition: 0.2s
}

blockquote {
    border-color: #00baba;
    border-width: 3.7px;
}

.work-card{
    /*background: rgba(0, 216, 216, 0.29);*/
    background: white;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.075);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.075);
    margin: 10px 0;
    padding: 30px 20px;
    border-radius: 10px;
    transition: background-color 0.4s;
    cursor: pointer;
    min-height: 300px !important;
    padding: auto;
    padding-bottom: 0px 
}

.work-card:hover{
    background: rgba(255, 255, 255, 0.07);
}

.subscribe form {
    margin: auto;
    max-width: 700px;
}

.subscribe form input {
    width: 100%;
    padding: 10px;
    margin: auto;
    border: none;
    background: rgba(0, 186, 186, 0.1);
    box-shadow: none;
    transition: all 0.3s;
}

.subscribe form input::placeholder{
    color: rgb(102, 108, 104);
}

.subscribe form input:focus {
    box-shadow: none !important;
    outline: 1px solid rgba(0, 186, 186, 1);
}

.subscribe form button {
    width: 100%;
    padding: 10px;
    background: #00b8b8;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    transition: all 0.3s;
}

.subscribe form button:hover {
    background: rgb(0, 132, 132);
}

.subscribe form button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
}

footer {
    background: white;
    padding: 20px 0;
    border-top: 2px solid rgba(0, 186, 186, 0.2);
}

footer div.row {
    max-width: 200px;
    margin: auto;
}

footer p {
    font-size: 0.8em;
    margin-bottom: 0px;
    color: darkgray;
}

@media screen and (max-width: 500px) {
    .postcard-cont {
        height: 300px
    }

    .post-title__index {
        padding: 130px 10px;
        padding-bottom: 0px
    }

    .post-date__index {
        font-size: 0.8em
    }
}

@media screen and (max-width: 443px) {
    .bio {
        display: none !important
    }

    .post-title__index {
        font-size: 1.7em;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        margin: auto;
        z-index: 100;
        padding: 16px 0
    }

    div.content {
        margin-top: 50px
    }

    .subscribe form div.sub-input-cont,
    .subscribe form div.sub-button-cont{
        padding: 0;
    }

}

